*{
  font-family: 'Muli',sans-serif;
  font-size:11px;
  color:#333;
}
.text-yellow{
  color:#F3BB45;
}
.text-blue{
  color:#68B3C8 !important;
}
.help-block p{
  color:red;
}
.btn  {
  position: relative;
  padding: 12px 30px;
  margin: .3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: .2rem;
  outline: 0;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow,transform;
  background:#F3BB45;
  color:#fff !important;
}
.btn:hover{
  background:#68B3C8;
}
.content {
  padding: 30px 15px;
  min-height: 93vh;
  padding-top:15px;
}
/*Login*/
.login-page{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  padding: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-page .card{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  height:350px;
 
}
.login-page .card-header{
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
}
.login-page .card-login .card-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700
}
.login-page .card-icon{
  float: none !important;
}
.login-page .card-body{
  text-align:left !important;
  padding-top:0;
}
.login-page  .register{
  width:700px;
}
.success {
  color: green;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.wrapper{
  background: #f4f3ef;
}

/*Nav bar*/

.mainnavbar{
  height:50px;
  border-radius:0;
  background-color: #f4f3ef !important; 
  margin-bottom:0 !important;
}
.navbar-nav{
  height:48px !important;
}
.mainnavbar .dropdown{
  display:inline;
  cursor:pointer;
}
.mainnavbar  .dropdown a p{
  float:left;
}
.mainnavbar .dropdown .caret {
  width: 0;
  height: 30px;
  margin-top: 10%;
  float:right;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.mainnavbar .navbar-nav>li>a:hover{
color:#68B3C8 !important;
}
 .cdk-overlay-connected-position-bounding-box{
  top:85px  !important;
  transform: translate3d(0px, -40px, 0px);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s;
  width:140px;
  height:200px;
}
.mat-menu-item a{
    position: relative;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    color: #777;
    text-decoration: none;
    border-radius: .125rem;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    width:100%;
    padding: .625rem 1.25rem;
    overflow: hidden;
    line-height: 1.428571;
    text-overflow: ellipsis;
    word-wrap: break-word;
    border: 0;
}
.mat-menu-item a:hover, .mat-menu-item:hover a{
  background: #F3BB45;
  color:#fff;
  text-decoration: none;
}
.mat-menu-item:hover {
  background:none !important;
}
/*Main body*/
.mainpanel{
  background: #f4f3ef;
}
.main-page{
padding-top:15px;
padding-bottom:15px;
}
.card{
  background: #fff !important;
  border-radius: 5px;
}
.card>hr {
  margin-right: 0;
  margin-left: 0;
  margin-top:0;
  width:100%;
}
.card-body {
  flex: 1 1 auto;
  padding: 3.25rem;
  padding-top:1px;
  padding-bottom:0px;
}
.card-footer,
.card-header {
  padding: .75rem 1.25rem;
  padding-bottom: 2px !important
}
.card .card-title{
  height: 50px;
}
.card .card-header.card-header-icon i{
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color:#fff;
}
.card [class*=card-header-] .card-icon,
.card [class*=card-header-] .card-text {
  border-radius: 3px;
  background-color: #68B3C8;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
  color:#fff;
}
.card-title{
  width:100%;
}
.mat-list-text, .form-check-label{
 line-height: 1.42857;
  color: #AAA !important;
  font-weight:400 !important;
  padding-right:0;
  font-size:12px !important;
}

@media (max-width:768px) {
  .mat-selection-list, .stocks .mat-selection-list{
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
      padding:5%;
      margin:2%; 
    }
}
@media(max-width:425px){
  .mat-selection-list, .stocks .mat-selection-list{
      -moz-column-count: 1;
      -moz-column-gap: 20px;
      -webkit-column-count: 1;
      -webkit-column-gap: 20px;
      column-count: 1;
      column-gap: 20px;
      padding:5%;
      margin:2%; 
    } 
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  cursor: pointer;
  color: #F3BB45 !important;
}
.mat-select-value-text {
  color: #F3BB45 !important;
}
/*Table*/
.rssTable th, .ng2-smart-sort-link, .ng2-smart-title{
  color:#68B3C8 !important;
  text-align:center !important;
}
table tr td {
 /*  word-wrap: wrap break-word;
  word-break: break-all; */
  padding:1% !important;
  vertical-align: middle !important;
  max-height:5px;
  text-align:center;
  overflow-x:hidden;
  border-bottom:1px solid #eee !important;
}


table th{
  border:none !important;
}
table-cell-view-mode div{
    max-height:15px;
    overflow:hidden; 
   /*  word-wrap: wrap break-word;
    overflow-y:auto; */
}
.page-item.active .page-link, .page-link {
display: inline-block;
font-size: 10px;
position:right;
height:30px;
width:30px;
color:#F3BB45;
vertical-align:middle;
}
.page-item.active .page-link{
  background-color:#F3BB45 !important;
  border:none !important;
  color:#fff !important;
}
ng2-smart-table-pager{
float:right;
padding-top:5%;
}

.ng2-smart-filter input, .ng2-smart-filter select {
  width: 100%;
  line-height: normal;
  padding: .375em .75em;
  font-weight: 400;
  border: 1px dotted #68B3C8 !important;
}
.ng2-smart-action  {
  position: relative;
  padding: 5px ;
  margin: .3125rem 1px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  display:inline;
  border-radius: .2rem;
  outline: 0;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow,transform;
  background:#F3BB45;
  color:#fff !important;
  text-align:center;
}
.ng2-smart-action i{
    font-size:10px !important;
    color:#fff !important;
}
td .ng2-smart-action:hover{
  background:#68B3C8 !important;
  text-decoration: none !important;
}
ng2-smart-table-pager{
  padding-top:0 !important;
}
.ng2-smart-action-multiple-select input:checked{
  background: #F3BB45 !important;
}
ng2-st-checkbox-select-all{
  width:10px !important;
}
.multiselect-item-checkbox input[type=checkbox] + div:before {
  color:#68B3C8 !important;
  border: 2px solid #68B3C8 !important;
}
.multiselect-item-checkbox input[type=checkbox]:checked {
  background-color:#68B3C8 !important;
}
.rssTable .form-control{
  width: 100%;
  line-height: normal;
  padding: .375em .75em;
  border: 1px dotted #F3BB45 !important;
  height:25px;
}
button-view button{
  color:#68B3C8 !important;
  background:none !important;
  text-transform: lowercase !important;
  border:none !important;
}
button-view button:hover{
  color:#F3BB45 !important;
}
.blue {
  position: relative;
  padding: 0 15px;
  margin: .3125rem 1px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase !important;
  border: 0;
  border-radius: .2rem;
  outline: 0;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow,transform;
  color: #fff !important;
  background: #68B3C8 !important;
  width: 80px;
}
input[type=checkbox]{
  box-shadow: none;
}
input[type="checkbox"]:checked {
  background: #F3BB45;
}
.back i{
  float:right !important;
  color:#333 !important;
  font-size:14px !important;
  cursor:pointer;
  color:#F3BB45 !important;
}
.key-input:disabled{
  border:none;
  color:#AAA;
}
.key-input:enabled{
  color:#68B3C8;
  border:1px dotted #AAA;
  text-align:center;
}
.key-input{
  height:30px;
  border-radius:4px; 
}
.keywords-table tr td{
  border-bottom:none !important;
}
.form-control {
  background: center bottom no-repeat, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: 0;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border:none !important;
  display: block;
  width: 100%;
  padding: .4375rem 0;
  line-height: 1.5;
  word-break: break-all;
  color: #495057;
  background-color: rgba(0,0,0,0);
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
  font-size:12px !important; 
}
.form-group, .mat-form-field-flex {
  border-bottom: 1px dotted #333 !important;
}

.tag-feed .form-control{
  height: auto !important;
  margin-bottom:2%;
}
.tag-feed .link label{
  color:#F3BB45 !important;
}
.tag-feed .link:hover label{
  color:#68B3C8 !important;   
}
.tag-feed .link{
  text-decoration: none;
}

.tag-feed .side{
  overflow: none;
  height:600px;
}
.tag .mat-list-text{
  padding:0 !important;
  font-size:10px;
}
.tag .mat-pseudo-checkbox{
  width:15px !important;
  height:15px !important;
  text-align:left;
}
.tag .mat-list-option {
  height: 30px !important;
  padding:0 !important;
  border-right:1px dotted #333;
  border-bottom:1px dotted #333;
}
.tag .mat-selection-list{
  padding-top:0 !important;
  border-left:1px dotted #333;
  border-top:1px dotted #333;
}

.dashboard2{
  background: #f4f3ef;
     
  }
.dashboard2-content{
  width:auto;
  float:right;
  position: relative;
  top:0;
  flex:1;
  background: #f4f3ef;
}
.dashboard2 .main-page{
  width:calc(100% - 15%);
}
.dashboard2 .hideSidebar{
  width:100% !important;
}
.closeSidebar{
  margin-left:0;
  padding-left:0;
  cursor:pointer;
}
.closeSidebar i{
  line-height: 2;
  color:#68B3C8 !important;
}
.sidebar {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  padding-top: 20px;
  overflow-y:scroll;
  width:15% !important;
  max-height:90vh;
  height: auto;
  background:#f4f3ef;
  display:none;

}
.showSidebar{
  display:block;
}
.sidebar ul {
  list-style: none;
  padding-inline-start: 4px;
  line-height: 30px;
}
.sidebar ul li a {
  color:#333;
  cursor: pointer;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
}
.sidebar p{
  text-align: center;
  color:#68B3C8;
  font-size:13px;
}
.sidebar ul li a:hover, .sidebar ul li a:focus,
.sidebar ul li.active a{
  color:#F3BB45 !important;
  font-size:11px;
}
.sidebar .active{
  color:#F3BB45 !important;
}
.rssTable{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.unsubscribe .form-group{
  border-bottom:none !important;
}
.form-check {
  position: relative;
  display: block;
  height:25px;
}
.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}
.form-check-input:disabled~.form-check-label {
  color: #6c757d
}
.form-check-label {
  margin-bottom: 0
}
.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: .75rem
}
.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: .3125rem;
  margin-left: 0
}
.form-check .form-check-label {
  cursor: pointer;
  padding-left: 25px;
  position: relative
}
.form-group.is-focused .form-check .form-check-label {
  color: rgba(0, 0, 0, .26)
}
.form-group.is-focused .form-check .form-check-label:focus,
.form-group.is-focused .form-check .form-check-label:hover {
  color: rgba(0, 0, 0, .54)
}
fieldset[disabled] .form-group.is-focused .form-check .form-check-label {
  color: rgba(0, 0, 0, .26)
}
.form-check .form-check-label span {
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  transition-duration: .2s
}
.form-check .form-check-label .circle {
  border: 1px solid rgba(0, 0, 0, .54);
  height: 15px;
  width: 15px;
  border-radius: 100%;
  top: 1px
}
.form-check .form-check-label .circle .check {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #F3BB45;
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0)
}
.form-check .form-check-label .circle:before {
  display: block;
  position: absolute;
  left: -1px;
  content: "";
  background-color: rgba(0,0,0,.84);
  height: 15px;
  width: 15px;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
  top: -1px;
  -webkit-transform: scale3d(2.3,2.3,1);
  -moz-transform: scale3d(2.3,2.3,1);
  -o-transform: scale3d(2.3,2.3,1);
  -ms-transform: scale3d(2.3,2.3,1);
  transform: scale3d(2.3,2.3,1);
}
.form-check .form-check-input:checked~.check,
.form-check .form-check-input:checked~.circle {
  opacity: 1
}
.form-check .form-check-input:checked~.check {
  background-color: #F3BB45;
}
.form-check .form-check-input[disabled]+.circle .check,
.form-check .form-check-input[disabled]~.check {
  background-color: #000
}
.form-check .form-check-input:checked~.circle {
  border-color: #F3BB45;
}
.form-check .form-check-input:checked .check:before {
  animation: checkboxOn .5s forwards
}
.form-check .form-check-input:checked~.circle .check {
  -webkit-transform: scale3d(.65, .65, 1);
  -moz-transform: scale3d(.65, .65, 1);
  -o-transform: scale3d(.65, .65, 1);
  -ms-transform: scale3d(.65, .65, 1);
  transform: scale3d(.65, .65, 1)
}
.form-check .form-check-input[disabled]~.check,
.form-check .form-check-input[disabled]~.circle {
  opacity: .26
}
.form-check .form-check-input[disabled]~.circle {
  border-color: #000
}
.form-check .form-check-sign {
  vertical-align: middle;
  position: relative;
  top: -2px;
  float:left;
  padding-right: 10px;
}
input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px;
  line-height: normal;
  display: none;
}
.mat-selected{
  color:#F3BB45 !important;
}
.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  cursor: pointer;
  color: #F3BB45 !important;
}
.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, 
.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate{
background: #F3BB45 !important;
}
.mat-select-value-text,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled)  {
    color:#F3BB45 !important;
}
.mat-option-text:hover,.mat-form-field-infix:focus ,
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow {
 
    color:#68B3C8 !important;
}
 .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-underline {
    background-color: #68B3C8 !important;
}

/* to change plceholder text when focused */
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
    color: #68B3C8 !important;
}

.keywords table tr td{
  border:none;
}
@media (max-width:1024px){
  .mat-form-field-infix {
    width:120px !important;
  }
  
}
@media (max-width: 991px) {
  .container-fluid{
      padding-left:10px !important;
      padding-right:10px !important; 
  }
  .btn{
      font-size:12px !important;
  }
  .rssTable{
      width:100% !important;
  }
  td .ng-star-inserted{
      width:120px !important;   
  }
  tags-table td .ng-star-inserted{
      width:100px !important;   
  }
 
  table-cell-view-mode div {
      width:auto;
      padding-left:2%;
  }
  button-view button{
      width:80px !important;
  }
  .ng2-smart-action {
      font-size:8.5px !important;
  }
  .tag .form-control{
  word-break: break-all;
  }
  .tags{
      margin-top:4%;
      border-radius: none !important;
      border-top:1px dotted #333; 
  }
  .tags .col-md-6{
      margin-top:2%;
  }
  .dash2content .sidebar{
      visibility: hidden;
  }
  .dash2content .main-panel{
      padding:30px;
  }
  .dash2content .selectSource{
      visibility: visible !important;
  }
  }
  @media (max-width: 450px) {
      .tags-table td .ng-star-inserted{
          width:100px; 
      }
      .add-feed .mat-form-field-infix {
          width:200px !important;
      }
      .add-form{
          margin-top:10%;
      }
  }
  @media (max-width:2560px){
      .ng2-smart-actions input {
        width: 14px !important;
        height: 14px !important;
      }  
      .blue{
          width:60px;
          font-size:9px !important;
      }
  }
  .tags-card{
    height:180px !important;
  }
  .bySource{
    display: none;
  }
@media(max-width:768px){
  .sidebar, .closeSidebar{
    display:none !important;
  }
  .withoutSidebar{
    width:100% !important;
  }
  .bySource{
    display: block;
  }
  .card>hr{
    margin-top:3px;
  }
}
.user-dashboard .profile{
  height: 450px;
}
.dashboard2 li a{
  color:#000;
}
.dashboard2 li a:hover,
.dashboard2 li a:focus{
color:#F3BB45;
text-decoration: none;
}
/* .highlightText, #result b {
  background: #68B3C8;
  padding:3px;
  border-radius:2px;
} */
.date{
  width:auto !important;
  
}
.example-trigger{
  float:right;
}