<a type="submit" class="back" (click)="close()"  ><i class="material-icons" style="font-size:18px !important;" title="Cancel">
    cancel</i></a>
    <div class="card add-form">
    <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
            <i class="material-icons">loyalty</i>
          </div>
          <h4 class="card-title">Add New Keyword
            </h4>
    </div>
    <p class="success">{{message}}</p>
    <div class="card-body">
      <form action="" method="post" name="form" action="" method="post" name="form" (ngSubmit)="formAddStockCode(f.value)" #f="ngForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-danger': keyword_name.invalid &&(keyword_name.dirty || keyword_name.touched),
            'has-success': keyword_name.valid && (keyword_name.dirty || keyword_name.touched)}">
              <label class="bmd-label-floating">Keyword</label>
              <input type="text" class="form-control" id="keyword_name" name="keyword_name" [(ngModel)]="model.keyword_name" #keyword_name="ngModel"
              required>
            </div>
            <div  class="help-block txt1" *ngIf="keyword_name.errors && (keyword_name.dirty || keyword_name.touched)">
                <p *ngIf="keyword_name?.errors.required">Keyword is required</p>
              </div>
          </div>
        </div>
        <div class="button-div">
            <button type="submit" class="btn pull-right">Submit</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
</div>

