<div class="content"><div class="container">
    <!--  <p class="breadcrumb"> Welcome > <span>{{pageName}}</span></p>
     --> <div class="row">
       <div class="col-md-12">
               <div class="card">
                       <div class="card-header card-header-icon card-header-rose">
                         <div class="card-icon">
                           <i class="material-icons">chrome_reader_mode</i>
                         </div>
                         <h4 class="card-title">Add Feed </h4>
                       </div>
                       <p class="success">{{message}}</p>
                       <div class="card-body ">
                           <form action="" method="post" name="form" action="" method="post" name="form" (ngSubmit)="formAddFeed(f.value)" #f="ngForm">
                               <div class="row">
                                 <div class="col-md-9 p-t-5">
                                   <div class="form-group" [ngClass]="{ 'has-danger': articles_title.invalid &&(articles_title.dirty || articles_title.touched),
                                   'has-success': articles_title.valid && (articles_title.dirty || articles_title.touched)}">
                                     <label class="bmd-label-floating">Title</label>
                                     <input type="text" class="form-control" id="articles_title" name="articles_title" [(ngModel)]="model.articles_title" #articles_title="ngModel"
                                     required>
                                   </div>
                                   <div  class="help-block txt1" *ngIf="articles_title.errors && (articles_title.dirty || articles_title.touched)">
                                       <p *ngIf="articles_title?.errors.required"> Title is required</p>
                                     </div>
                                 </div>
                                 <div class="col-md-3 p-t-5">
                                     <div class="form-group date-group" [ngClass]="{ 'has-danger': articles_publishedAt.invalid &&(articles_publishedAt.dirty || articles_publishedAt.touched),
                                     'has-success': articles_publishedAt.valid && (articles_publishedAt.dirty || articles_publishedAt.touched)}">
                                       <label class="bmd-label-floating">Date</label><br>
                                       <span class="example-trigger" [owlDateTimeTrigger]="dt2">
                                        <i class="material-icons">
                                          calendar_today
                                          </i>
                                       </span>
                                       <input class="form-control date" placeholder="" [(ngModel)]="articles_publishedAt"  id="articles_publishedAt" name="articles_publishedAt" [owlDateTime]="dt2" >
                                       
                                       <owl-date-time #dt2></owl-date-time>
                                     </div>
                       
                                     <div  class="help-block txt1" *ngIf="articles_publishedAt.errors && (articles_publishedAt.dirty || articles_publishedAt.touched)">
                                         <p *ngIf="articles_publishedAt?.errors.required">Published Date is required</p>
                                       </div>
                                 </div>
                                 <div class="col-md-12 p-t-5">
                                     <div class="form-group" [ngClass]="{ 'has-danger': articles_url.invalid &&(articles_url.dirty || articles_url.touched),
                                     'has-success': articles_url.valid && (articles_url.dirty || articles_url.touched)}">
                                       <label class="bmd-label-floating">External Link</label>
                                       <input type="text" class="form-control" id="articles_url" name="articles_url" [(ngModel)]="model.articles_url" #articles_url="ngModel"
                                       required>
                                     </div>
                       
                                     <div  class="help-block txt1" *ngIf="articles_url.errors && (articles_url.dirty || articles_url.touched)">
                                         <p *ngIf="articles_url?.errors.required">External Link is required</p>
                                       </div>
                                 </div>
                                 
                                <div class="col-md-6 add-feed">
                                    <div class="p-t-5">
                                        <div class="form-group" [ngClass]="{ 'has-danger': articles_author.invalid &&(articles_author.dirty || articles_author.touched),
                                        'has-success': articles_author.valid && (articles_author.dirty || articles_author.touched)}">
                                          <label class="bmd-label-floating">Article Author</label>
                                          <input type="text" class="form-control" id="articles_author" name="articles_author" [(ngModel)]="model.articles_author" #articles_author="ngModel"
                                          required>
                                        </div>
                                        <div  class="help-block txt1" *ngIf="articles_author.errors && (articles_author.dirty || articles_author.touched)">
                                            <p *ngIf="articles_author?.errors.required">Author Name is required</p>
                                          </div>
                                    </div>
                                      <div class="p-t-5">
                                          <div class="form-group" [ngClass]="{ 'has-danger': articles_urlToImage.invalid &&(articles_urlToImage.dirty || articles_urlToImage.touched),
                                          'has-success': articles_urlToImage.valid && (articles_urlToImage.dirty || articles_urlToImage.touched)}">
                                            <label class="bmd-label-floating">Related Images</label>
                                            <input type="file" class="form-control" id="articles_urlToImage" name="articles_urlToImage" [(ngModel)]="model.articles_urlToImage" #articles_urlToImage="ngModel"
                                            >
                                          </div>
                            
                                          <div  class="help-block txt1" *ngIf="articles_urlToImage.errors && (articles_urlToImage.dirty || articles_urlToImage.touched)">
                                              <p *ngIf="articles_urlToImage?.errors.required">User ID  is required</p>
                                            </div>
                                      </div>
                                    <div class="p-t-5">
                                        <label class="bmd-label-floating">Article Source</label>
                                        <br>
                                        <mat-form-field >
                                            <mat-select placeholder=" " (selectionChange)="getbyArticle($event.value)" 
                                            [(ngModel)]="sourceName" name="sourceName" id="sourceName">
                                              <mat-option *ngFor="let article of sources" [value]="article.source_name">
                                                  {{article.source_name}}
                                              </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                      </div>
                                     <div class=" col-md-10 multiple p-t-5">
                                        <label class="bmd-label-floating"> Keywords</label>
                                        <ng-multiselect-dropdown
                                        [placeholder]="'Select One or More'"
                                        [data]="keywords"
                                        name="selectedKeywords"
                                        [(ngModel)]="selectedKeywords"
                                        [settings]="keywordSettings"
                                        (onSelect)="onKeySelect($event)"
                                        (onSelectAll)="onKeySelectAll($event)"
                                        ></ng-multiselect-dropdown>
                                    </div><div class="clearfix"></div>
                                    <div class="col-md-10 multiple p-t-5 m-t-10">
                                        <label class="bmd-label-floating">Stock Codes</label>
                                        <ng-multiselect-dropdown
                                        [placeholder]="'Select One or More'"
                                        [data]="stockCodes"
                                        name="selectedStocks"
                                        [(ngModel)]="selectedStocks"
                                        [settings]="stockSettings"
                                        (onSelect)="onStockSelect($event)"
                                        (onSelectAll)="onStockSelectAll($event)"
                                        ></ng-multiselect-dropdown>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-6 add-feed">
                                    <div class="p-t-5">
                                        <div class="form-group" [ngClass]="{ 'has-danger': articles_description.invalid &&(articles_description.dirty || articles_description.touched),
                                        'has-success': articles_description.valid && (articles_description.dirty || articles_description.touched)}">
                                          <label class="bmd-label-floating">Description</label>
                                          <textarea type="text" class="form-control" id="articles_description" name="articles_description" 
                                          [(ngModel)]="model.articles_description" #articles_description="ngModel" rows="4"
                                          required></textarea>
                                        </div>
                          
                                        <div  class="help-block txt1" *ngIf="articles_description.errors && (articles_description.dirty || articles_description.touched)">
                                            <p *ngIf="articles_description?.errors.required">Description is required</p>
                                          </div>
                                    </div><br><br>
                                    <div class="p-t-5">
                                        <div class="form-group" [ngClass]="{ 'has-danger': articles_content.invalid &&(articles_content.dirty || articles_content.touched),
                                        'has-success': articles_content.valid && (articles_content.dirty || articles_content.touched)}">
                                          <label class="bmd-label-floating">Content</label>
                                          <textarea type="text" class="form-control" id="articles_content" name="articles_content" [(ngModel)]="model.articles_content" #articles_content="ngModel"
                                          rows="5" required></textarea>
                                        </div>
                          
                                        <div  class="help-block txt1" *ngIf="articles_content.errors && (articles_content.dirty || articles_content.touched)">
                                            <p *ngIf="articles_content?.errors.required">Content is required</p>
                                          </div>
                                    </div>
                                </div>
                               </div>
                               <div class="button-div">
                                   <button type="submit" class="btn pull-right">Submit</button>
                               </div>
                               <div class="clearfix"></div>
                             </form>
                       </div>
               </div>
       </div>
     </div>
   </div>
   
  </div>