<a type="submit" class="back" (click)="close()"  ><i class="material-icons" style="font-size:18px !important;" title="Cancel">
    cancel</i></a>
    <div class="card add-form">
    <div class="card-header card-header-icon card-header-rose">
      <div class="card-icon">
        <i class="material-icons">loyalty</i>
      </div>
      <h4 class="card-title">Add New Company </h4>
    </div>
    <p class="success">{{message}}</p>
    <div class="card-body">
      <form action="" method="post" name="form" action="" method="post" name="form" (ngSubmit)="formAddStockCode(f.value)" #f="ngForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-danger': stock_name.invalid &&(stock_name.dirty || stock_name.touched),
            'has-success': stock_name.valid && (stock_name.dirty || stock_name.touched)}">
              <label class="bmd-label-floating">Company Name</label>
              <input type="text" class="form-control" id="stock_name" name="stock_name" [(ngModel)]="model.stock_name" #stock_name="ngModel"
              required>
            </div>
            <div  class="help-block txt1" *ngIf="stock_name.errors && (stock_name.dirty || stock_name.touched)">
                <p *ngIf="stock_name?.errors.required">Company Name is required</p>
              </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-danger': stock_code.invalid &&(stock_code.dirty || stock_code.touched),
              'has-success': stock_code.valid && (stock_code.dirty || stock_code.touched)}">
                <label class="bmd-label-floating">Stock Code</label>
                <input type="text" class="form-control" id="stock_code" name="stock_code" [(ngModel)]="model.stock_code" #stock_code="ngModel"
                required>
              </div>

              <div  class="help-block txt1" *ngIf="stock_code.errors && (stock_code.dirty || stock_code.touched)">
                  <p *ngIf="stock_code?.errors.required">Stock Code is required</p>
                </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12">
              <div class="form-group" [ngClass]="{ 'has-danger': stock_sector.invalid &&(stock_sector.dirty || stock_sector.touched),
              'has-success': stock_sector.valid && (stock_sector.dirty || stock_sector.touched)}">
                <label class="bmd-label-floating">Sector</label>
                <input type="text" class="form-control" id="stock_sector" name="stock_sector" [(ngModel)]="model.stock_sector" #stock_sector="ngModel"
                required>
              </div>
              <div  class="help-block txt1" *ngIf="stock_sector.errors && (stock_sector.dirty || stock_sector.touched)">
                  <p *ngIf="stock_sector?.errors.required">Sector is required</p>
                </div>
            </div>
        </div>
        <div class="button-div">
            <button type="submit" class="btn pull-right">Submit</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
</div>


