<div class="container-fluid dashboard2 content">
    <div id="sidebar" class="sidebar" [ngClass]="{ 'showSidebar': sidebarOpen }" >
        <div *ngIf="showAllFeeds == true">
                <p><sup>Showing </sup>  All  <sub> Feeds</sub></p>
                <hr>
        </div>  
         
         <ul>
            <li (click)="getbyArticle(article)" routerLinkActive="active"  *ngFor="let article of feeds" [ngClass]="{'active': selectedItem == article}">
              <a>{{article._id}}
                    <span class="text-blue">( {{article.count}} )</span>   </a>                 
            </li>      
        </ul> 
    </div>
    <div class=" main-page pull-right withoutSidebar" [ngClass]="{ 'hideSidebar': fullwidth }">
            <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                            <a class="closeSidebar pull-left" (click)="toggleSideBar()">
                                    <i class="material-icons">more_vert</i>
                                </a>
                            <div class="card-icon"><i class="material-icons">{{pageIcon}}</i> </div>
                            <div class="card-title row p-t-10">
                                <h4 class="col-md-3 col-sm-3">{{pageHeadings}} <span class="status" *ngIf="showTit2 == true">( {{status}} Feeds) </span>
                                </h4>
                                <div class="col-md-2 col-sm-2">
                                        <mat-form-field>
                                            <mat-select placeholder="Filter by status" (selectionChange)="getbyStatus($event.value)"
                                              [(ngModel)]="status" name="status" id="status">
                                              <mat-option *ngFor="let status of statuss" [value]="status.value">
                                                 {{status.viewValue}}
                                              </mat-option>
                                            </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-2 col-sm-2 bySource">
                                        <mat-form-field>
                                            <mat-select placeholder="Filter by Source" (selectionChange)="getbyArticle($event.value)" 
                                                [(ngModel)]="article" name="article" id="article">
                                                <mat-option *ngFor="let article of feeds" [value]="article._id">
                                                     {{article._id}} <span class="text-blue">( {{article.count}} )</span> 
                                                </mat-option>
                                            </mat-select> 
                                        </mat-form-field>
                                </div>
                                <div class="col-md-2 col-sm-2" >
                                        <mat-form-field >
                                            <mat-select placeholder="Filter by Date" (selectionChange)="getbyDate($event.value)"
                                                [(ngModel)]="date" name="date" id="date">
                                                <mat-option *ngFor="let date of byDate" [value]="date.value">
                                                  {{date.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                </div>
                                <div class="col-md-2 col-sm-2" >

                                   <!--     <button type="submit" class="btn pull-right" (click)="autoTagFeeds()">AutoTag</button>

                               -->  </div>
                                <div class="col-md-1 " >
                                    <button type="submit" class="btn " routerLink="../addFeed">Add New </button>
                                </div>
                
                            </div> 
                        </div>
                
                <hr>
                <div class="card-body table-responsive">
                        <ng2-smart-table [settings]="settings" [source]="source"  (deleteConfirm)="delete($event)" (editConfirm)="updateRecord($event)"
                        (custom)="tagFeed($event)" (userRowSelect)="onUserRowSelect($event)" class="table table-responsive rssTable table-striped"></ng2-smart-table>
                    <div style="padding:20px 0;">
                        <div class="filter-add" *ngIf="showIgnoreAll == true">
                            <button type="submit" class="btn pull-right" style="float:left !important;" (click)="ignoreMany()">Ignore Selected</button>
                        </div>
                           
                        <div class="filter-add" *ngIf="showEmail == true">
                          <button type="submit" class="btn pull-right" style="float:left !important;" (click)="sendEmail()">Send Email</button>
                        </div>
                    </div>
                </div>
                <br><br><br>
               
            </div>
</div>
</div>





