<div class="container-fluid main-page content">
    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon"><i class="material-icons">{{pageIcon}}</i> </div>
            <div class="card-title row p-t-10">
                <h4 class="col-md-2">{{pageHeadings}} <span class="status" *ngIf="showTit2 == true">( {{status}} Feeds) </span>
                </h4>
                <div class="col-md-2">
                        <mat-form-field>
                            <mat-select placeholder="Filter by status" (selectionChange)="getbyStatus($event.value)"
                              [(ngModel)]="status" name="status" id="status">
                              <mat-option *ngFor="let status of statuss" [value]="status.value">
                                 {{status.viewValue}}
                              </mat-option>
                            </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-md-2" *ngIf="selectSource == true">
                        <mat-form-field>
                            <mat-select placeholder="Filter by Source" (selectionChange)="getbyArticle($event.value)" 
                                [(ngModel)]="article" name="article" id="article">
                                <mat-option *ngFor="let article of feeds" [value]="article._id">
                                     {{article._id}} <span class="text-blue">( {{article.count}} )</span> 
                                </mat-option>
                            </mat-select> 
                        </mat-form-field>
                </div>
                <div class="col-md-2" *ngIf="showDate == true">
                        <mat-form-field >
                            <mat-select placeholder="Filter by Date" (selectionChange)="getbyDate($event.value)"
                                [(ngModel)]="date" name="date" id="date">
                                <mat-option *ngFor="let date of byDate" [value]="date.value">
                                  {{date.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
                <div class="col-md-2" *ngIf="showAutotag == true">
                        <button type="submit"  class="btn pull-right" (click)="autoTagFeeds()">AutoTag</button>
                        </div>
                <div class="col-md-2 pull-right" *ngIf="startPipeline == true" >
                        <button type="submit" class="btn pull-right" (click)="startAllPipelines()">Start All Pipelines</button>
                </div>
                <div class="col-md-1 pull-right" *ngIf="showNew == true" >
                    <button type="submit" class="btn " (click)="openPage()">Add New </button>
                </div>

            </div> 
        </div>
        <hr align="center">
        <div class="card-body table-responsive">
                <ng2-smart-table [settings]="settings" [source]="source"  (deleteConfirm)="delete($event)" (editConfirm)="updateRecord($event)"
                (custom)="tagFeed($event)" (userRowSelect)="onUserRowSelect($event)" class="table rssTable table-striped"></ng2-smart-table>
                <div style="padding-top:20px">
                        <div class="filter-add" *ngIf="showIgnoreAll == true">
                                <button type="submit" class="btn pull-right" style="float:left !important;" (click)="ignoreMany()">{{ignoreTitle}}</button>
                            </div>
                            <div class="filter-add" *ngIf="showEmail == true">
                                <button type="submit" class="btn pull-right" style="float:left !important;" (click)="sendEmail()">Send Email</button>
                            </div></div>
        </div>
        <br><br><br>
       
       
    </div>
</div>



 
 
 
 