<div class="wrapper wrapper-full-page">
<div class="login-page header-filter">
   
  <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 ml-auto mr-auto" align="center">
          <div class="card">
              <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
                      <h4 class="card-title">Login</h4>
                  </div>
                </div>
                <div class="card-body">
                        <p class="success">{{message}}</p>
                <form action="" method="post" name="form" (ngSubmit)="formLogin(f.value)" #f="ngForm">
                    <div class="card-body ">
                        <div class="form-group" [ngClass]="{ 'has-danger': username.invalid &&(username.dirty || username.touched),
                        'has-success': username.valid && (username.dirty || username.touched)}">
                          <label class="bmd-label-floating">Username</label>
                          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="model.username" 
                          #username="ngModel" required  pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,10}" >
                        </div>
          
                        <div  class="help-block txt1" *ngIf="username.errors && (username.dirty || username.touched)">
                            <p *ngIf="username?.errors.required">User ID is required</p>
                            <p *ngIf="username?.errors.pattern">Invalid User ID</p>
                          </div>
                          <div class="form-group" [ngClass]="{ 'has-danger': password.invalid &&(password.dirty || password.touched),
                          'has-success': password.valid && (password.dirty || password.touched)}">
                            <label class="bmd-label-floating">Password 
                              <a routerLink="/forgetPassword" class="txt2 m-l-5 text-blue">
                              Forgot?
                            </a></label>
                            <input type="password" class="form-control" id="password" name="password" 
                            [(ngModel)]="model.password" #password="ngModel"  pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,10}" required> 
                           </div>
            
                          <div  class="help-block txt1" *ngIf="password.errors && (password.dirty || password.touched)">
                              <p *ngIf="password?.errors.required">Password is required</p>
                              <p *ngIf="password?.errors.pattern">Password must be 6-10 characters long with letters & digits</p>
                          </div>
                          <div class="button-div">
                                <button type="submit" class="btn pull-right">Login</button>
                          </div>
                          
                      </div>
                </form>
                <div class="signup p-t-5">New Member? <a routerLink='/addUser' class="txt2 m-l-5 text-blue">
                  SignUp
               </a></div>
            </div>
          </div>
      </div>
    
  </div>
    
</div>
    
              
           