<div class="content">
    <div class="container">
        <!-- <p class="breadcrumb"> Welcome > <span>{{pageName}}</span></p>
        -->
         <div class="row">
          <div class="col-md-12">
                <form action="" method="post" name="form" (ngSubmit)="formManagePref(f.value)" #f="ngForm">
                           
                  <div class="card" *ngIf="showKeywords == true">
                          <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                              <i class="material-icons">loyalty</i>
                            </div>
                            <h4 class="card-title">Select your Keywords</h4>
                          </div>
                          <div class="card-body">
                                <div class="form-check row">
                                    
                                        <mat-selection-list class="row" [ngModel]="selectedKeywords" name="selectedKeywords" id="selectedKeywords"
                                        (ngModelChange)="onselectedKeywordsChange($event)"
                                        (change)="changeEventCount" >
                                            <mat-list-option class="col-md-3" *ngFor="let keyword of keywords" [value]="keyword.keyword_name">
                                              {{keyword.keyword_name}}
                                            </mat-list-option>
                                          </mat-selection-list>    
                                </div>
                              <div class="button-div">
                                  <a type="submit" class="btn pull-right" (click)="next()">Next</a>
                              </div>
                              <div class="clearfix"></div>
                           
                          </div>
                  </div>
                  <div class="card" *ngIf="showStocks == true">
                        <div class="card-header card-header-icon card-header-rose">
                          <div class="card-icon">
                            <i class="material-icons">loyalty</i>
                          </div>
                          <h4 class="card-title">Select your Company Names</h4>
                        </div>
                        <div class="card-body">
                              <div class="form-check stocks">
                                    <mat-selection-list [ngModel]="selectedStocks" name="selectedStocks" id="selectedStocks"
                                    (ngModelChange)="onselectedStocksChange($event)"
                                    (change)="changeEventCount" class="row" >
                                        <mat-list-option class="col-md-3" *ngFor="let stock of stockCodes" [value]="stock.stock_code">
                                          {{stock.stock_name}}
                                        </mat-list-option>
                                      </mat-selection-list>
                              </div>
                            <div class="button-div" style="float:left !important;">
                                <a type="submit" class="btn pull-right" (click)="back()">Back</a>
                            </div>
                            <div class="button-div" >
                                    <button type="submit" class="btn pull-right">Submit</button>
                                </div>
                                <p class="success">{{message}}</p>
                            <div class="clearfix"></div>
                         
                        </div>
                </div>
                </form>  
          </div>
        </div>
      </div>
</div>



