<div class="content"><div class="container">
  <!--   <p class="breadcrumb"> Welcome > <span>{{pageName}}</span></p> -->
    <div class="row">
      <div class="col-md-12">
              <div class="card">
                      <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                          <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Edit Profile </h4>
                      </div>
                      <div class="card-body">
                        <form action="" method="post" name="form" (ngSubmit)="formEditProfile(f.value)" #f="ngForm">
                            <div class="row">
                                  <div class="col-md-6">
                                          <div class="form-group">
                                            <label class="bmd-label-floating">User Name</label>
                                            <input type="text" class="form-control" value={{user?.username}} disabled>
                                          </div>
                                        </div> 
                            </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group" [ngClass]="{ 'has-danger':user_fname.invalid &&(user_fname.dirty || user_fname.touched),
                              'has-success' :user_fname.valid && (user_fname.dirty || user_fname.touched)}" >
                                <label class="bmd-label-floating">Fist Name</label>
                                <input type="text" class="form-control" value={{user?.user_fname}} name="user_fname" id="user_fname"  [(ngModel)]="model.user_fname" #user_fname="ngModel" >
                              </div>
                              <div  class="help-block txt1" *ngIf="user_fname.errors && (user_fname.dirty || user_fname.touched)">
                                <p *ngIf="user_fname?.errors.required">First Name required</p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group" [ngClass]="{ 'has-danger':user_lname.invalid &&(user_lname.dirty || user_lname.touched),
                              'has-success' :user_lname.valid && (user_lname.dirty || user_lname.touched)}" >
                                <label class="bmd-label-floating">Last Name</label>
                                <input type="text" class="form-control" value={{user?.user_lname}} name="user_lname" id="user_lname"  [(ngModel)]="model.user_lname" #user_lname="ngModel" >
                               </div>
                               <div  class="help-block txt1" *ngIf="user_lname.errors && (user_lname.dirty || user_lname.touched)">
                                 <p *ngIf="user_lname?.errors.required">Last Name is required</p>
                               </div>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-5">
                                <div class="form-group" [ngClass]="{ 'has-danger':user_businessname.invalid &&(user_businessname.dirty || user_businessname.touched),
                                'has-success' :user_businessname.valid && (user_businessname.dirty || user_businessname.touched)}">
                                  <label class="bmd-label-floating">Company </label>
                                  <input type="text" class="form-control" value={{user?.user_businessname}} name="user_businessname" id="user_businessname"  [(ngModel)]="model.user_businessname" #user_businessname="ngModel">
                                </div>
                                <div  class="help-block txt1" *ngIf="user_businessname.errors && (user_businessname.dirty || user_businessname.touched)">
                                    <p *ngIf="user_businessname?.errors.required">Business Name is required</p>
                                </div>
                               </div>
                              <div class="col-md-4">
                                <div class="form-group" [ngClass]="{ 'has-danger':user_businessEmail.invalid &&(user_businessEmail.dirty || user_businessEmail.touched),
                                'has-success' :user_businessEmail.valid && (user_businessEmail.dirty || user_businessEmail.touched)}">
                                <label class="bmd-label-floating">Email Id </label>
                                <input type="text" class="form-control" value={{user?.user_businessEmail}} name="user_businessEmail" id="user_businessEmail"  [(ngModel)]="model.user_businessEmail"  #user_businessEmail="ngModel">
                              </div>
                              <div  class="help-block txt1" *ngIf="user_businessEmail.errors && (user_businessEmail.dirty || user_businessEmail.touched)">
                                <p *ngIf="user_businessEmail?.errors.required">Email is required</p>
                              </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group" [ngClass]="{ 'has-danger':user_businessphone1.invalid &&(user_businessphone1.dirty || user_businessphone1.touched),
                                  'has-success' :user_businessphone1.valid && (user_businessphone1.dirty || user_businessphone1.touched)}">
                                    <label class="bmd-label-floating">Contact Number</label>
                                    <input type="text" class="form-control" value={{user?.user_businessphone1}} name="user_businessphone1" id="user_businessphone1"  [(ngModel)]="model.user_businessphone1" #user_businessphone1="ngModel">
                                  </div>
                                  <div  class="help-block txt1" *ngIf="user_businessphone1.errors && (user_businessphone1.dirty || user_businessphone1.touched)">
                                    <p *ngIf="user_businessphone1?.errors.required">Phone Number is required</p>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group" [ngClass]="{ 'has-danger':user_businessphone2.invalid &&(user_businessphone2.dirty || user_businessphone2.touched),
                                    'has-success' :user_businessphone2.valid && (user_businessphone2.dirty || user_businessphone2.touched)}">
                                     <label class="bmd-label-floating">Alternative Number</label>
                                     <input type="text" class="form-control" value={{user?.user_businessphone2}} name="user_businessphone2" id="user_businessphone2"  [(ngModel)]="model.user_businessphone2" #user_businessphone2="ngModel">
                                  </div>
                                </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group" [ngClass]="{ 'has-danger':user_address.invalid &&(user_address.dirty || user_address.touched),
                              'has-success' :user_address.valid && (user_address.dirty || user_address.touched)}" >
                                <label class="bmd-label-floating">Adress</label>
                                <input type="text" class="form-control" value={{user?.user_address}} name="user_address" id="user_address"  [(ngModel)]="model.user_address" #user_address="ngModel">
                                <div  class="help-block txt1" *ngIf="user_address.errors && (user_address.dirty || user_address.touched)">
                                  <p *ngIf="user_address?.errors.required">Address is required</p>
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group" [ngClass]="{ 'has-danger':user_city.invalid &&(user_city.dirty || user_city.touched),
                              'has-success' :user_city.valid && (user_city.dirty || user_city.touched)}">
                                <label class="bmd-label-floating">City</label>
                                <input type="text" class="form-control" value={{user?.user_city}} name="user_city" id="user_city"  [(ngModel)]="model.user_city" #user_city="ngModel">
                                <div  class="help-block txt1" *ngIf="user_city.errors && (user_city.dirty || user_city.touched)">
                                  <p *ngIf="user_city?.errors.required">City is required</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group" [ngClass]="{ 'has-danger':user_state.invalid &&(user_state.dirty || user_state.touched),
                              'has-success' :user_state.valid && (user_state.dirty || user_state.touched)}" >
                                <label class="bmd-label-floating">State</label>
                                <input type="text" class="form-control" value={{user?.user_state}} >
                              </div>
                            </div>
                            <div class="col-md-3">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">Country</label>
                                    <input type="text" class="form-control" value={{user?.user_country}} name="user_state" id="user_state"  [(ngModel)]="model.user_state" #user_state="ngModel">
                                    <div  class="help-block txt1" *ngIf="user_state.errors && (user_state.dirty || user_state.touched)">
                                      <p *ngIf="user_state?.errors.required">State is required</p>
                                    </div>
                                  </div>
                                </div>
                            <div class="col-md-3">
                              <div class="form-group" [ngClass]="{ 'has-danger':user_zip.invalid &&(user_zip.dirty || user_zip.touched),
                              'has-success' :user_zip.valid && (user_zip.dirty || user_zip.touched)}">
                                <label class="bmd-label-floating">Postal Code</label>
                                <input type="text" class="form-control" value={{user?.user_zip}} name="user_zip" id="user_zip"  [(ngModel)]="model.user_zip" #user_zip="ngModel">
                                <div  class="help-block txt1" *ngIf="user_zip.errors && (user_zip.dirty || user_zip.touched)">
                          <p *ngIf="user_zip?.errors.required">ZipCode is required</p>
                        </div>
                              </div>
                            </div>
                          </div>
                          <div class="button-div">
                              <button type="submit" class="btn pull-right">Update</button>
                          </div>
                          <div class="clearfix"></div>
                        </form>
                      </div>
              </div>
      </div>
    </div>
  </div>
  
</div>