<div class="tag">
  <a type="submit" class="back" (click)="close()"  ><i class="material-icons" style="font-size:18px !important;" title="Cancel">
      cancel</i></a>
  <div class="row tag-feed">
      <div class="col-md-5 side">
        <div class="card profile">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">bookmark</i>
              </div>
              <h4 class="card-title">Tag Feed </h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Article Title</label>
                     <a href="{{rssfeed?.articles_url}}" class="link">
                       <label class="form-control">{{rssfeed?.articles_title}}</label>
                      </a> 
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Website</label>
                      <label class="form-control">{{rssfeed?.articles_url}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Source </label>
                        <label class="form-control">{{rssfeed?.articles_source_name}}</label>
                     </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Article Date </label>
                        <label class="form-control">{{rssfeed?.articles_publishedAt | date:"dd-MM-yyyy HH:mm a"}}</label>
                      </div> 
                    </div>
                    
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Keywords </label>
                          <label class="form-control text-blue">{{rssfeed?.keyword}}</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Stock Code</label>
                            <label class="form-control text-blue">{{rssfeed?.stockcode}}</label>
                         </div>
                        </div> 
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Description</label>
                          <label class="form-control" id="result"></label>
                       </div>
                      </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Content</label>
                      <label class="form-control">{{Content}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Images</label>
                      <img src="{{rssfeed.articles_urlToImage}}" width=200px>
                    </div>
                  </div>
                </div> -->
                <div class="clearfix"></div>
              </form>
            </div>
        </div>
      </div>
      <div class="col-md-7 side">
          <div class="tags profile">
              <form>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="">
                            <label class="bmd-label-floating">Primary Keyword</label>
                            <ng-multiselect-dropdown
                            [placeholder]="'Select One'"
                            [data]="keywords"
                            name="primaryKeyword"
                            [(ngModel)]="primaryKeyword"
                            [settings]="keywordSettings"
                            (onSelect)="onKeySelect($event)"
                            (onSelectAll)="onKeySelectAll($event)"
                            ></ng-multiselect-dropdown>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{ 'has-danger': stockcode.invalid &&(stockcode.dirty || stockcode.touched),
                        'has-success': stockcode.valid && (stockcode.dirty || stockcode.touched)}">
                          <label class="bmd-label-floating">Stock Code</label>
                          <input type="text" class="form-control" id="stockcode" name="stockcode" [(ngModel)]="model.stockcode" #stockcode="ngModel"
                          >
                        </div>
                        <div  class="help-block txt1" *ngIf="stockcode.errors && (stockcode.dirty || stockcode.touched)">
                            <p *ngIf="stockcode?.errors.required">Stock Code is required</p>
                          </div>
                    </div>
                    
                  <div class="col-md-12">
                      <label class="bmd-label-floating">Secondary Keywords( Select one or more)</label>
                         <br><br>
                      <mat-selection-list [ngModel]="selectedKeywords" name="selectedKeywords" id="selectedKeywords"
                              (ngModelChange)="onselectedKeywordsChange($event)"
                              (change)="changeEventCount" class="row" >
                                  <mat-list-option class="col-md-4" *ngFor="let keyword of keywords" [value]="keyword.keyword_name">
                                     {{keyword.keyword_name}}
                                  </mat-list-option>
                                </mat-selection-list>   
                  </div>
                  </div>
                  
                 <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating"> Keywords</label>
                            <ng-multiselect-dropdown
                            [placeholder]="'Select One or More'"
                            [data]="keywords"
                            name="selectedKeywords"
                            [(ngModel)]="selectedKeywords"
                            [settings]="keywordSettings"
                            (onSelect)="onKeySelect($event)"
                            (onSelectAll)="onKeySelectAll($event)"
                            ></ng-multiselect-dropdown>
                          </div>
                    </div>
                    <div class="clearfix"></div>
                    <br><br>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating"> Interested Companies</label>
                            <ng-multiselect-dropdown
                      [placeholder]="'Select One or More'"
                      [data]="stockCodes"
                      name="selectedStocks"
                      [(ngModel)]="selectedStocks"
                      [settings]="stockSettings"
                      (onSelect)="onStockSelect($event)"
                      (onSelectAll)="onStockSelectAll($event)"
                      ></ng-multiselect-dropdown>
                          </div>
                    </div>
                   </div> -->
                   <br>
                   <div class="button-div">
                   <button type="submit" class="btn pull-right" (click)="formTagFeed()">Tag Feed</button>
                   </div>
                  <div class="clearfix"></div>
              </form>
          </div>
      </div>
  </div>
  
  </div>