<div class="content"><div class="container">
   <!--  <p class="breadcrumb"> Welcome > <span>{{pageName}}</span></p> -->
    <div class="row">
        <div class="card unsubscribe">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                  <i class="material-icons">highlight_off</i>
              </div>
              <h4 class="card-title">Unsubscribe </h4>
            </div>
            <div class="card-body">
                <form>
                    <h3 align="center">Are you sure you want to stop getting mails from us?</h3>
                    <hr>
                    <div class="form-group">
                        <label class="bmd-label-floating">Please tell Us why</label>
                        <br><br>
                        <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option2" checked> Mails are irrelevant 
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1"> No longer interested in the mail services 
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1"> Too many emails. 
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" value="option1"> Didn't know that I was subscribed. 
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                          <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" value="option1">Too much or too little content
                                <span class="circle">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="exampleRadios" value="option1"> Looks like spam. 
                                  <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                    </div>
                   <div class="button-div">
                   <button type="submit" class="btn pull-right" (click)="unsubscribe()">Yes</button>
                   </div>
                  <div class="clearfix"></div>
                  <p class="success">{{message}}</p>
                </form>
            </div>
          </div>
    </div>
</div>

</div>

